In [1]:
import pandas as pd

In [54]:
movies = pd.read_csv(r'myMovies.csv',index_col=0)

In [55]:
movies

                        Name   Industry       Genre Language  Duration  Rating
ID
1                   Bahubali  Tollywood      Action   Telugu       170     9.5
2                 Brahmastra  Bollywood  Mysterious    Hindi       180     5.0
3   Uri- The Surgical Strike  Bollywood      Action    Hindi       120    10.0
4                       DDLJ  Bollywood    Romantic    Hindi       150    10.0
5           Avengers-Endgame  Hollywood      Action  English       180     9.0
6                      Tenet  Hollywood       SciFi  English       150     8.5
7                      Major  Bollywood      Action    Hindi       140     8.0
8               Intersteller  Hollywood       SciFi  English       190     7.0
9                    Gravity  Hollywood       SciFi  English       130     6.0
10                   Titanic  Hollywood       Drama  English       180     9.0
11     Yeh Jawani Hai Divani  Bollywood    Romantic    Hindi       150     5.0
12                  Houseful  Bollywood      Comedy    Hindi       150     6.0
13              The Dictator  Hollywood      Comedy  English       120     7.0
14                Hera Pheri  Bollywood      Comedy    Hindi       140     9.0
15                    Sholay  Bollywood       Drama    Hindi       150     8.5

# Find the longest movie name

In [4]:
movies['Duration'].argmax()

7

In [5]:
movies['Name'][7]

'Intersteller'

In [6]:
movies['Name'][movies['Duration'].argmax()]

'Intersteller'

# Number of movies who got 10 rating

In [7]:
sum(movies['Rating']==10)

2

# How many industries are there

In [8]:
movies['Industry'].value_counts().count()

3

In [9]:
len(movies['Industry'].value_counts())

3

In [10]:
movies['Industry'].nunique()

3

# Find least liked comedy movies

In [11]:
movies['Name'][movies[movies['Genre']=='Comedy']['Rating'].idxmin()]

'Houseful'

# Longest english movie name

In [12]:
movies['Name'][movies[movies['Language']=='English']['Duration'].idxmax()]

'Intersteller'

# What is genre of intersteller

In [16]:
movies['Name'].str.lower()

0                     bahubali
1                   brahmastra
2     uri- the surgical strike
3                         ddlj
4             avengers-endgame
5                        tenet
6                        major
7                 intersteller
8                      gravity
9                      titanic
10       yeh jawani hai divani
11                    houseful
12                the dictator
13                  hera pheri
14                      sholay
Name: Name, dtype: object

In [17]:
names=movies['Name']

In [18]:
names.to_list()

['Bahubali',
 'Brahmastra',
 'Uri- The Surgical Strike',
 'DDLJ',
 'Avengers-Endgame',
 'Tenet',
 'Major',
 'Intersteller',
 'Gravity',
 'Titanic',
 'Yeh Jawani Hai Divani',
 'Houseful',
 'The Dictator',
 'Hera Pheri',
 'Sholay']

In [21]:
names.values

array(['Bahubali', 'Brahmastra', 'Uri- The Surgical Strike', 'DDLJ',
       'Avengers-Endgame', 'Tenet', 'Major', 'Intersteller', 'Gravity',
       'Titanic', 'Yeh Jawani Hai Divani', 'Houseful', 'The Dictator',
       'Hera Pheri', 'Sholay'], dtype=object)

In [14]:
movies['Genre'][movies['Name']=='Intersteller'].values[0]

'SciFi'

In [15]:
movies['Genre'][movies['Name'].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [22]:
names.str.casefold()

0                     bahubali
1                   brahmastra
2     uri- the surgical strike
3                         ddlj
4             avengers-endgame
5                        tenet
6                        major
7                 intersteller
8                      gravity
9                      titanic
10       yeh jawani hai divani
11                    houseful
12                the dictator
13                  hera pheri
14                      sholay
Name: Name, dtype: object

In [23]:
names.str.count('e')

0     0
1     0
2     2
3     0
4     3
5     2
6     0
7     3
8     0
9     0
10    1
11    1
12    1
13    2
14    0
Name: Name, dtype: int64

In [24]:
names.str.endswith('i')

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13     True
14    False
Name: Name, dtype: bool

In [25]:
names.str.find('e')

0    -1
1    -1
2     7
3    -1
4     2
5     1
6    -1
7     3
8    -1
9    -1
10    1
11    4
12    2
13    1
14   -1
Name: Name, dtype: int64

In [26]:
names.str.get(-2)

0     l
1     r
2     k
3     L
4     m
5     e
6     o
7     e
8     t
9     i
10    n
11    u
12    o
13    r
14    a
Name: Name, dtype: object

In [27]:
names.str.get_dummies()

,Avengers-Endgame,Bahubali,Brahmastra,DDLJ,Gravity,Hera Pheri,Houseful,Intersteller,Major,Sholay,Tenet,The Dictator,Titanic,Uri- The Surgical Strike,Yeh Jawani Hai Divani
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [29]:
movies['Genre'].str.get_dummies()

    Action  Comedy  Drama  Mysterious  Romantic  SciFi
0        1       0      0           0         0      0
1        0       0      0           1         0      0
2        1       0      0           0         0      0
3        0       0      0           0         1      0
4        1       0      0           0         0      0
5        0       0      0           0         0      1
6        1       0      0           0         0      0
7        0       0      0           0         0      1
8        0       0      0           0         0      1
9        0       0      1           0         0      0
10       0       0      0           0         1      0
11       0       1      0           0         0      0
12       0       1      0           0         0      0
13       0       1      0           0         0      0
14       0       0      1           0         0      0

In [30]:
# names.str.index('e')

In [32]:
names.str.split('e').str.join('--+--')

0                             Bahubali
1                           Brahmastra
2     Uri- Th--+-- Surgical Strik--+--
3                                 DDLJ
4         Av--+--ng--+--rs-Endgam--+--
5                        T--+--n--+--t
6                                Major
7             Int--+--rst--+--ll--+--r
8                              Gravity
9                              Titanic
10           Y--+--h Jawani Hai Divani
11                        Hous--+--ful
12                    Th--+-- Dictator
13                  H--+--ra Ph--+--ri
14                              Sholay
Name: Name, dtype: object

In [31]:
names.str.join('.')

0                                     B.a.h.u.b.a.l.i
1                                 B.r.a.h.m.a.s.t.r.a
2     U.r.i.-. .T.h.e. .S.u.r.g.i.c.a.l. .S.t.r.i.k.e
3                                             D.D.L.J
4                     A.v.e.n.g.e.r.s.-.E.n.d.g.a.m.e
5                                           T.e.n.e.t
6                                           M.a.j.o.r
7                             I.n.t.e.r.s.t.e.l.l.e.r
8                                       G.r.a.v.i.t.y
9                                       T.i.t.a.n.i.c
10          Y.e.h. .J.a.w.a.n.i. .H.a.i. .D.i.v.a.n.i
11                                    H.o.u.s.e.f.u.l
12                            T.h.e. .D.i.c.t.a.t.o.r
13                                H.e.r.a. .P.h.e.r.i
14                                        S.h.o.l.a.y
Name: Name, dtype: object

In [33]:
names.str.lower()

0                     bahubali
1                   brahmastra
2     uri- the surgical strike
3                         ddlj
4             avengers-endgame
5                        tenet
6                        major
7                 intersteller
8                      gravity
9                      titanic
10       yeh jawani hai divani
11                    houseful
12                the dictator
13                  hera pheri
14                      sholay
Name: Name, dtype: object

In [34]:
names.str.upper()

0                     BAHUBALI
1                   BRAHMASTRA
2     URI- THE SURGICAL STRIKE
3                         DDLJ
4             AVENGERS-ENDGAME
5                        TENET
6                        MAJOR
7                 INTERSTELLER
8                      GRAVITY
9                      TITANIC
10       YEH JAWANI HAI DIVANI
11                    HOUSEFUL
12                THE DICTATOR
13                  HERA PHERI
14                      SHOLAY
Name: Name, dtype: object

In [35]:
names.str.strip()

0                     Bahubali
1                   Brahmastra
2     Uri- The Surgical Strike
3                         DDLJ
4             Avengers-Endgame
5                        Tenet
6                        Major
7                 Intersteller
8                      Gravity
9                      Titanic
10       Yeh Jawani Hai Divani
11                    Houseful
12                The Dictator
13                  Hera Pheri
14                      Sholay
Name: Name, dtype: object

In [36]:
movies['Genre'][movies['Name'].str.strip().str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

# What is the avg duration of each genre

In [37]:
movies['Genre'].unique()

array(['Action', 'Mysterious', 'Romantic', 'SciFi', 'Drama', 'Comedy'],
      dtype=object)

In [38]:
movies['Genre'].nunique()

6

In [40]:
movies['Genre'].value_counts()

Action        4
SciFi         3
Comedy        3
Romantic      2
Drama         2
Mysterious    1
Name: Genre, dtype: int64

In [41]:
for Genre in movies['Genre'].unique():
    print(Genre,movies[movies['Genre']==Genre]['Duration'].mean())

Action 152.5
Mysterious 180.0
Romantic 150.0
SciFi 156.66666666666666
Drama 165.0
Comedy 136.66666666666666

In [46]:
movies.groupby(['Genre','Industry'])['Duration'].mean()

Genre       Industry
Action      Bollywood    130.000000
            Hollywood    180.000000
            Tollywood    170.000000
Comedy      Bollywood    145.000000
            Hollywood    120.000000
Drama       Bollywood    150.000000
            Hollywood    180.000000
Mysterious  Bollywood    180.000000
Romantic    Bollywood    150.000000
SciFi       Hollywood    156.666667
Name: Duration, dtype: float64

In [47]:
movies.groupby(['Industry','Genre'])['Duration'].mean()

Industry   Genre
Bollywood  Action        130.000000
           Comedy        145.000000
           Drama         150.000000
           Mysterious    180.000000
           Romantic      150.000000
Hollywood  Action        180.000000
           Comedy        120.000000
           Drama         180.000000
           SciFi         156.666667
Tollywood  Action        170.000000
Name: Duration, dtype: float64

In [61]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15 non-null     object
 1   Industry  15 non-null     object
 2   Genre     15 non-null     object
 3   Language  15 non-null     object
 4   Duration  15 non-null     int64
 5   Rating    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 840.0+ bytes

In [60]:
movies.describe(include='all')

            Name   Industry   Genre Language    Duration     Rating
count         15         15      15       15   15.000000  15.000000
unique        15          3       6        3         NaN        NaN
top     Bahubali  Bollywood  Action    Hindi         NaN        NaN
freq           1          8       4        8         NaN        NaN
mean         NaN        NaN     NaN      NaN  153.333333   7.833333
std          NaN        NaN     NaN      NaN   22.253946   1.718249
min          NaN        NaN     NaN      NaN  120.000000   5.000000
25%          NaN        NaN     NaN      NaN  140.000000   6.500000
50%          NaN        NaN     NaN      NaN  150.000000   8.500000
75%          NaN        NaN     NaN      NaN  175.000000   9.000000
max          NaN        NaN     NaN      NaN  190.000000  10.000000

In [56]:
#movies.drop(['ID'],axis=1,inplace=True)

In [57]:
#movies.head()

In [65]:
movies.groupby(['Industry','Genre']).describe().T

Industry         Bollywood                                            \
Genre               Action      Comedy  Drama Mysterious    Romantic
Duration count    2.000000    2.000000    1.0        1.0    2.000000
         mean   130.000000  145.000000  150.0      180.0  150.000000
         std     14.142136    7.071068    NaN        NaN    0.000000
         min    120.000000  140.000000  150.0      180.0  150.000000
         25%    125.000000  142.500000  150.0      180.0  150.000000
         50%    130.000000  145.000000  150.0      180.0  150.000000
         75%    135.000000  147.500000  150.0      180.0  150.000000
         max    140.000000  150.000000  150.0      180.0  150.000000
Rating   count    2.000000    2.000000    1.0        1.0    2.000000
         mean     9.000000    7.500000    8.5        5.0    7.500000
         std      1.414214    2.121320    NaN        NaN    3.535534
         min      8.000000    6.000000    8.5        5.0    5.000000
         25%      8.500000    6.750000    8.5        5.0    6.250000
         50%      9.000000    7.500000    8.5        5.0    7.500000
         75%      9.500000    8.250000    8.5        5.0    8.750000
         max     10.000000    9.000000    8.5        5.0   10.000000

Industry       Hollywood                           Tollywood
Genre             Action Comedy  Drama       SciFi    Action
Duration count       1.0    1.0    1.0    3.000000       1.0
         mean      180.0  120.0  180.0  156.666667     170.0
         std         NaN    NaN    NaN   30.550505       NaN
         min       180.0  120.0  180.0  130.000000     170.0
         25%       180.0  120.0  180.0  140.000000     170.0
         50%       180.0  120.0  180.0  150.000000     170.0
         75%       180.0  120.0  180.0  170.000000     170.0
         max       180.0  120.0  180.0  190.000000     170.0
Rating   count       1.0    1.0    1.0    3.000000       1.0
         mean        9.0    7.0    9.0    7.166667       9.5
         std         NaN    NaN    NaN    1.258306       NaN
         min         9.0    7.0    9.0    6.000000       9.5
         25%         9.0    7.0    9.0    6.500000       9.5
         50%         9.0    7.0    9.0    7.000000       9.5
         75%         9.0    7.0    9.0    7.750000       9.5
         max         9.0    7.0    9.0    8.500000       9.5

# What is the avg rating of each industry

In [69]:
movies.groupby('Industry')['Rating'].mean()

Industry
Bollywood    7.6875
Hollywood    7.7500
Tollywood    9.5000
Name: Rating, dtype: float64

# Avg rating of romantic movies industry wise

In [70]:
movies[movies['Genre'].str.lower()=='romantic'].groupby('Industry')['Rating'].mean()

Industry
Bollywood    7.5
Name: Rating, dtype: float64

# list down all the english movies with their respective rating in decending order

In [72]:
movies[movies['Language'].str.lower()=='english'][['Name','Rating']].sort_values(by='Rating',ascending=False)

                Name  Rating
ID
5   Avengers-Endgame     9.0
10           Titanic     9.0
6              Tenet     8.5
8       Intersteller     7.0
13      The Dictator     7.0
9            Gravity     6.0