In [1]:
import pandas as pd

Data Analysis
1. Description
2. Diagnosis
3. Prediction
4. Actions/Prescription

In [2]:
# column names
cols=['user_id','movie_id','rating','ts']

In [3]:
#Read the file
df=pd.read_csv('u.data',sep='\t',names=cols)

In [4]:
item_cols=['movie_id','title'] + [str(i) for i in range(22)]

In [5]:
#Read the other file
df1=pd.read_csv('u.item',sep='|',encoding="ISO-8859-1",names=item_cols)[['movie_id','title']]

Exploratory Data Analysis(EDA)

In [6]:
df.head()

   user_id  movie_id  rating         ts
0        0        50       5  881250949
1        0       172       5  881250949
2        0       133       1  881250949
3      196       242       3  881250949
4      186       302       3  891717742

In [7]:
df1.sample(5)

      movie_id                           title
160        161                  Top Gun (1986)
1034      1035            Cool Runnings (1993)
875        876              Money Talks (1997)
996        997  Stuart Saves His Family (1995)
203        204       Back to the Future (1985)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100003 non-null  int64
 1   movie_id  100003 non-null  int64
 2   rating    100003 non-null  int64
 3   ts        100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [9]:
df.describe(include='all')

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

try to find different DATA
1. stings with categorical info
2. strings with random stuff
3. numbers with Quantified info
4. numbers with categorical info
5. random numbers or ids sort of data

In [10]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'ts'], dtype='object')

In [11]:
df['rating'].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [12]:
df['rating'].nunique()

5

In [13]:
df['user_id'].nunique()

944

In [14]:
df['movie_id'].nunique()

1682

In [15]:
df1.shape

(1682, 2)

In [16]:
a=[4,8,2,7,9]

In [17]:
# b=[8,16,14,18]
b=[]
for i in a :
    b.append(i*2)
b

[8, 16, 4, 14, 18]

In [18]:
b=[i*2 for i in a]
b

[8, 16, 4, 14, 18]

In [19]:
# Merging the dataframes

In [20]:
movie=pd.merge(df,df1,on='movie_id')
movie.head()

   user_id  movie_id  rating         ts             title
0        0        50       5  881250949  Star Wars (1977)
1      290        50       5  880473582  Star Wars (1977)
2       79        50       4  891271545  Star Wars (1977)
3        2        50       5  888552084  Star Wars (1977)
4        8        50       5  879362124  Star Wars (1977)

In [21]:
# Remove the redundant or useless columns i.e. ts
movie.drop('ts',axis=1,inplace=True)

In [22]:
movie.head()

   user_id  movie_id  rating             title
0        0        50       5  Star Wars (1977)
1      290        50       5  Star Wars (1977)
2       79        50       4  Star Wars (1977)
3        2        50       5  Star Wars (1977)
4        8        50       5  Star Wars (1977)

In [23]:
# Find the number of ratings for each movie
movie['title'].value_counts().head(10)

Star Wars (1977)                 584
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: title, dtype: int64

In [24]:
# Find the avg rating for each movie
movie.groupby('title')['rating'].mean().sort_values(ascending=False).head(10)

title
They Made Me a Criminal (1939)                       5.0
Marlene Dietrich: Shadow and Light (1996)            5.0
Saint of Fort Washington, The (1993)                 5.0
Someone Else's America (1995)                        5.0
Star Kid (1997)                                      5.0
Great Day in Harlem, A (1994)                        5.0
Aiqing wansui (1994)                                 5.0
Santa with Muscles (1996)                            5.0
Prefontaine (1997)                                   5.0
Entertaining Angels: The Dorothy Day Story (1996)    5.0
Name: rating, dtype: float64

In [27]:
ratings=pd.DataFrame(movie.groupby('title')['rating'].mean().sort_values(ascending=False))

In [28]:
ratings

                                              rating
title
They Made Me a Criminal (1939)                   5.0
Marlene Dietrich: Shadow and Light (1996)        5.0
Saint of Fort Washington, The (1993)             5.0
Someone Else's America (1995)                    5.0
Star Kid (1997)                                  5.0
...                                              ...
Eye of Vichy, The (Oeil de Vichy, L') (1993)     1.0
King of New York (1990)                          1.0
Touki Bouki (Journey of the Hyena) (1973)        1.0
Bloody Child, The (1996)                         1.0
Crude Oasis, The (1995)                          1.0

[1664 rows x 1 columns]

In [29]:
ratings['count']=movie['title'].value_counts()

In [30]:
ratings.head(20)

                                                      rating  count
title
They Made Me a Criminal (1939)                      5.000000      1
Marlene Dietrich: Shadow and Light (1996)           5.000000      1
Saint of Fort Washington, The (1993)                5.000000      2
Someone Else's America (1995)                       5.000000      1
Star Kid (1997)                                     5.000000      3
Great Day in Harlem, A (1994)                       5.000000      1
Aiqing wansui (1994)                                5.000000      1
Santa with Muscles (1996)                           5.000000      2
Prefontaine (1997)                                  5.000000      3
Entertaining Angels: The Dorothy Day Story (1996)   5.000000      1
Pather Panchali (1955)                              4.625000      8
Some Mother's Son (1996)                            4.500000      2
Maya Lin: A Strong Clear Vision (1994)              4.500000      4
Anna (1996)                                         4.500000      2
Everest (1998)                                      4.500000      2
Close Shave, A (1995)                               4.491071    112
Schindler's List (1993)                             4.466443    298
Wrong Trousers, The (1993)                          4.466102    118
Casablanca (1942)                                   4.456790    243
Wallace & Gromit: The Best of Aardman Animation...  4.447761     67

In [31]:
ratings.sort_values(by='count',ascending=False).head(20)

                                    rating  count
title
Star Wars (1977)                  4.359589    584
Contact (1997)                    3.803536    509
Fargo (1996)                      4.155512    508
Return of the Jedi (1983)         4.007890    507
Liar Liar (1997)                  3.156701    485
English Patient, The (1996)       3.656965    481
Scream (1996)                     3.441423    478
Toy Story (1995)                  3.878319    452
Air Force One (1997)              3.631090    431
Independence Day (ID4) (1996)     3.438228    429
Raiders of the Lost Ark (1981)    4.252381    420
Godfather, The (1972)             4.283293    413
Pulp Fiction (1994)               4.060914    394
Twelve Monkeys (1995)             3.798469    392
Silence of the Lambs, The (1991)  4.289744    390
Jerry Maguire (1996)              3.710938    384
Chasing Amy (1997)                3.839050    379
Rock, The (1996)                  3.693122    378
Empire Strikes Back, The (1980)   4.206522    368
Star Trek: First Contact (1996)   3.660274    365

In [33]:
movie_pivot=movie.pivot_table(index='user_id',columns='title',values='rating')
movie_pivot.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
movie_selected='Star Wars (1977)'

In [35]:
ms_rates=movie_pivot[movie_selected]
ms_rates.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

In [36]:
import warnings
warnings.filterwarnings('ignore')

In [38]:
corrs=movie_pivot.corrwith(ms_rates)
corrs.head(20)

title
'Til There Was You (1997)                      0.872872
1-900 (1994)                                  -0.645497
101 Dalmatians (1996)                          0.211132
12 Angry Men (1957)                            0.184289
187 (1997)                                     0.027398
2 Days in the Valley (1996)                    0.066654
20,000 Leagues Under the Sea (1954)            0.289768
2001: A Space Odyssey (1968)                   0.230884
3 Ninjas: High Noon At Mega Mountain (1998)         NaN
39 Steps, The (1935)                           0.106453
8 1/2 (1963)                                  -0.142977
8 Heads in a Duffel Bag (1997)                -0.577350
8 Seconds (1994)                              -0.755929
A Chef in Love (1996)                          0.868599
Above the Rim (1994)                          -0.645497
Absolute Power (1997)                          0.085440
Abyss, The (1989)                              0.203709
Ace Ventura: Pet Detective (1994)              0.062689
Ace Ventura: When Nature Calls (1995)          0.094514
Across the Sea of Time (1995)                 -0.132453
dtype: float64

In [42]:
corrs.sort_values(ascending=False).head(20)

title
Commandments (1997)                                                                  1.0
Cosi (1996)                                                                          1.0
No Escape (1994)                                                                     1.0
Stripes (1981)                                                                       1.0
Man of the Year (1995)                                                               1.0
Hollow Reed (1996)                                                                   1.0
Beans of Egypt, Maine, The (1994)                                                    1.0
Good Man in Africa, A (1994)                                                         1.0
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.0
Outlaw, The (1943)                                                                   1.0
Line King: Al Hirschfeld, The (1996)                                                 1.0
Hurricane Streets (1998)                                                             1.0
Scarlet Letter, The (1926)                                                           1.0
Safe Passage (1994)                                                                  1.0
Star Wars (1977)                                                                     1.0
Golden Earrings (1947)                                                               1.0
Full Speed (1996)                                                                    1.0
Twisted (1996)                                                                       1.0
Ed's Next Move (1996)                                                                1.0
Mondo (1996)                                                                         1.0
dtype: float64

In [43]:
corrs_df=pd.DataFrame(corrs,columns=['correlation'])
corrs_df.head()

                           correlation
title
'Til There Was You (1997)     0.872872
1-900 (1994)                 -0.645497
101 Dalmatians (1996)         0.211132
12 Angry Men (1957)           0.184289
187 (1997)                    0.027398

In [46]:
corrs_df['rating']=ratings['rating']
corrs_df['count']=ratings['count']

In [47]:
corrs_df.head()

                           correlation    rating  count
title
'Til There Was You (1997)     0.872872  2.333333      9
1-900 (1994)                 -0.645497  2.600000      5
101 Dalmatians (1996)         0.211132  2.908257    109
12 Angry Men (1957)           0.184289  4.344000    125
187 (1997)                    0.027398  3.024390     41

In [48]:
corrs_df[corrs_df['count']>50].sort_values(by='correlation',ascending=False).head(10)

,correlation,rating,count
title,,,
Star Wars (1977),1.000000,4.359589,584
"Empire Strikes Back, The (1980)",0.748353,4.206522,368
Return of the Jedi (1983),0.672556,4.007890,507
Raiders of the Lost Ark (1981),0.536117,4.252381,420
Giant (1956),0.488093,3.745098,51
"Life Less Ordinary, A (1997)",0.411638,3.075472,53
Austin Powers: International Man of Mystery (1997),0.377433,3.246154,130
"Sting, The (1973)",0.367538,4.058091,241
Indiana Jones and the Last Crusade (1989),0.350107,3.930514,331
Pinocchio (1940),0.347868,3.673267,101

In [51]:
top_recom=list(corrs_df[corrs_df['count']>50].sort_values(by='correlation',ascending=False).head(3).index)

In [52]:
top_recom

['Star Wars (1977)',
 'Empire Strikes Back, The (1980)',
 'Return of the Jedi (1983)']

In [53]:
top_recom.remove(movie_selected)

In [54]:
top_recom

['Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)']

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

def movie_recommend(movie_selected='Star Wars (1977)'):
    #Read Files
    cols=['user_id','movie_id','rating','ts']
    df=pd.read_csv('u.data',sep='\t',names=cols)
    item_cols=['movie_id','title'] + [str(i) for i in range(22)]
    df1=pd.read_csv('u.item',sep='|',encoding="ISO-8859-1",names=item_cols)[['movie_id','title']]